<div class="dp-container" style="width: 48px;  position: fixed;bottom: 150px;right: 0px;">
    <li class="dropdown dropdown-4">
        <span class="material-symbols-rounded">
            contacts_product
        </span>
        <ul class="dropdown_menu dropdown_menu-4">
            <li class="dropdown_item-1" style="background-color: #25D366; color: white;">
                <a [href]="'https://wa.me/919876543210'" target="_blank">
                    <img src="'../../../../assets/images/whatsapp-icon.png" width="30">
                </a>
            </li>
            <li class="dropdown_item-1" style="background-color: #c02c22; color: white;">
                <a  href="https://mail.google.com/mail/?view=cm&fs=1&to=someone@example.com&su=Hello&body=Message%20goes%20here" target="_blank">
                <img src="'../../../../assets/images/mail-icon.png" width="30" ></a>
            </li>
        </ul>
    </li>
</div>
<footer class="contact-footer">
    <div class="container text-center">

        <h2 class="footer-heading">GET IN TOUCH</h2>
        <p>Feel free to <a [routerLink]="'/contact'">contact us</a> for any query regarding web development, we are
            happy to help
            you…</p>

        <div class="footer-section my-4">
            <span class="material-symbols-rounded footer-icon">schedule</span>
            <h4 class="footer-subheading">WORKING HOURS</h4>
            <p>Monday - Friday: <strong>10AM to 6PM</strong><br>
                Saturday: <strong>10AM to 3PM</strong>, Sunday: <strong>Holiday</strong>
            </p>
        </div>

        <div class="footer-divider d-flex justify-content-around flex-wrap mt-5">

            <!-- Contact Details -->
            <div class="footer-box text-center">
                <hr>
                <p class="footer-label">Contact Details</p>
                <span class="material-symbols-rounded footer-icon">mail</span>
                <p><a href="mailto:contact@southasialawfirm.in">contact{{'@'}}southasialawfirm.in</a><br>
                    <a href="mailto:southasialawfirm.in@gmail.com">southasialawfirm.in{{'@'}}gmail.com</a>
                </p>
            </div>

            <!-- Phone Numbers -->
            <div class="footer-box text-center">
                <hr>
                <p class="footer-label"> </p> <!-- Optional label -->
                <span class="material-symbols-rounded footer-icon">call</span>
                <p><a href="tel:+918055944185">+91 80349 222850</a><br>
                    <a href="tel:+917020683744">+91 72306 898940</a>
                </p>
            </div>
        </div>

        <!-- Social Media -->
        <!-- <div class="footer-section text-center mt-5">
            <hr>
            <p class="footer-label">Social Media</p>
            <div class="footer-social">
                <p><span class="material-symbols-rounded footer-icon">public</span> fb.me/southasialawfirmSangli</p>
                <p><span class="material-symbols-rounded footer-icon">chat</span> m.me/southasialawfirmSangli</p>
                <p><span class="material-symbols-rounded footer-icon">alternate_email</span>{{'@'}}southasialaw_Firm</p>
                <p><span class="material-symbols-rounded footer-icon">location_on</span> southasialawfirmSangli</p>
            </div>
        </div> -->

    </div>
</footer>



<footer class="footer-container w-100">
    <div class="footer-content row flex-wrap align-items-center py-4 w-100">

        <!-- Logo -->
        <div class="footer-logo text-center text-md-left mb-3 mb-md-0 col-md-3 col-sm-10">
            <img src="assets/images/logo.png" alt="Logo" class="footer-logo-img">
            <div class="d-flex flex-column justify-content-between align-items-center">
                <img src="assets/images/firm-name-logo.png" alt="Logo" width="80" height="50"
                    class="d-inline-block align-text-top">

                <h2 class="m-1 firm-name">South Asia Lex</h2>
            </div>
        </div>

        <!-- Address -->
        <div class="footer-address text-center mb-3 mb-md-0 col-md-3 col-sm-10">
            <p>INDIAN DOCUMENTATION SERVICE PTE.LTD.<br>ACRA Registration No : 202502835H<br>42 CUFF ROAD , #42-2A<br>SINGAPORE 209752</p>
            <p>503-389-688888103<br>503-200-138888822 – FAX</p>
            <a href="https://maps.app.goo.gl/mMm8GmzYD8yATVib6"><button class="map-button">Click for Map and Directions</button></a>
        </div>

        <div class="footer-address text-center mb-3 mb-md-0 col-md-3 col-sm-10">
            <p>S.A.L LEGAL SERVICES LLP<br>ACC 5892 INCORPORATED<br>No 60 Sharma Nagar , chennai-39<br>Tamil Nadu , India</p>
            <p>503-389-688888103<br>503-200-138888822 – FAX</p>
            <a href="https://maps.app.goo.gl/qvbcfdRzQCiHkyuS6"><button class="map-button">Click for Map and Directions</button></a>

        </div>


        <!-- Social Icons -->
        <div class="footer-social d-flex gap-2 justify-content-center col-md-3 col-sm-10">
            <a href="#"><span class="material-symbols-rounded">group</span></a>
            <a href="#"><span class="material-symbols-rounded">facebook</span></a>
            <a href="#"><span class="material-symbols-rounded">smart_display</span></a>
        </div>

    </div>

    <div class="footer-bottom text-center py-3">
        © 2025 South Asia Law Firm. All rights reserved.
        <a href="#">Disclaimer</a> |
        <a href="#">Privacy Policy</a> |
        <a href="#">Site Map</a>
    </div>
</footer>