<div class="home-main-content">
    <div class="content">
        <h2 class="highlight-title">Built on Trust, Driven by Justice</h2>
        <p class="highlight-desc w-50">At South Asia Law Firm, we uphold excellence, fairness, and a passion for
            justice empowering
            thousands with 98% success in legal resolutions.</p>
    </div>
</div>

<div class="service">
<div class="w-100 d-flex justify-content-center p-2">
        <div class="service-content row w-100 flex-wrap justify-content-center align-items-stretch">
    <div class="card p-4  text-center  col-md-4 col-sm-10">
        <div class="icon mb-3">
            <img src="assets/images/property-search.png" alt="Property Search Icon" width="60">
        </div>
        <div class="card-content w-100">
            <h3 class="header fw-semibold">Property Search Report</h3>
            <p class="card-description fs-6">
                <strong>Get Land property search at an affordable price.</strong><br>
                We offer affordable Land Property Search Report for property situated within state of Maharashtra.
            </p>
            <a href="#" class="btn btn-outline-dark rounded-pill px-4 mt-2">
                READ MORE &nbsp; &gt;
            </a>
        </div>
    </div>
    <div class="card p-4  text-center  col-md-4 col-sm-10">
        <div class="icon mb-3">
            <img src="assets/images/legal-notice-service.png" alt="Registration Icon" width="60">
        </div>
        <div class="card-content w-100">
            <h3 class="header fw-semibold">Legal Notice Services</h3>
            <p>
                <strong>Call us for legal advice in issuing various legal notices as precompliance.</strong><br>
                We offer services of drafting & issuing legal notices in various legal matters.
            </p>
            <a href="#" class="btn btn-outline-dark rounded-pill px-4 mt-2">
                READ MORE &nbsp; &gt;
            </a>
        </div>
    </div>
    <div class="card p-4  text-center  col-md-4 col-sm-10">
        <div class="icon mb-3">
            <img src="assets/images/registration-service.png" alt="Registration Icon" width="60">
        </div>
        <div class="card-content w-100">
            <h3 class="header fw-semibold">Registration Service</h3>
            <p>
                <strong>Register legal document at Public Notary / Registrar in quick time.</strong><br>
                All types of Affidavits, Indemnity bonds, Marriage Registration, Sale / Gift Deed, Will, Agreements,
                etc.
            </p>
            <a href="#" class="btn btn-outline-dark rounded-pill px-4 mt-2">
                READ MORE &nbsp; &gt;
            </a>
        </div>
    </div>
    <div class="card p-4  text-center  col-md-4 col-sm-10">
        <div class="icon mb-3">
            <img src="assets/images/legal-translation-service.png" alt="Translation Icon" width="60">
        </div>
        <div class="card-content w-100">
            <h3 class="header fw-semibold">Legal Translation Service</h3>
            <p>
                <strong>Get Translation service at an affordable price.</strong><br>
                We offer reliable and prompt translation service from English to Marathi and vice-versa.
            </p>
            <a href="#" class="btn btn-outline-dark rounded-pill px-4 mt-2">
                READ MORE &nbsp; &gt;
            </a>
        </div>
    </div>
    </div>
</div>

</div>
<app-footer></app-footer>